<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <h2>PRODUCT LIST</h2>

    <section class="last-visit">
       
        <div class="products">
            <% for (let i =0; i< products.length; i++){ %> 
                <article>
            <!-- <img src= <%= products[i].img1 %> alt="Cafetera" class="product_img"> -->
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price"> <%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %></p>
                        <h4 class="name"> <%= products[i].name %></h4>
                    </div>
                </article>                              

                <%} %>        
        </div>
    </section>
</body>
</html>
