<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>    
    <div class="banner-psc">
        <img src="images/carrusel3.jfif" alt="Banner">
    </div>    
    <main class="main">
        <div class="container">
            <h2 class="main-title">Artículos </h2>
            <section class="container-products">
                <!-- .product*4>img.producto__img+product__description>h3.product__title+span.product__price  -->                 
                <div class="product">
                <% for (let i =0; i < products.length; i++){ %>
                    <div class="card-product">
                    <a href="/products/<%= products[i].id %>" rel="noopener noreferrer">    <!-- LINKEAR CORRECTAMENTE CON EJS.  -->
                        <article>
                           
                             <img src="/images/<%= products[i].img1 %>" alt="Zapatillas" >
                                <div class="main-article">
                                    <i class="fas fa-truck"></i>
                                    <p class="price">$<%= products[i].price %></p>
                                    <p class="discount"><%= products[i].discount %></p>
                                    <h4 class="name"> <%= products[i].name %></h4>
                                </div>
                            </article>  
                        </a>
                    <a href="/productCart" rel="noopener noreferrer">
                    <i class="product__icon fas fa-cart-plus"></i>
                    </a>
                   </div>
                    <% } %>   
            </div>            
        </section>
       
        <section class="container__testimonial">
            <h2 class="section__title">Experiencias</h2>
            <h3 class="testimonial__tittle">Diego Armando M.</h3>
            <p class="testimonial__txt">"Yo tengo dos sueños. Mi primer sueño es jugar un mundial y el segundo salir campeón del mundo" </p>
        </section>
            <section class="container-tips">
            <!-- .tip*3>h2.tip__tittle+p.tip__txt+a.tip__btn -->
            <div class="tip">
                <i class="far fa-credit-card"></i>
                <!-- <i class="far fa-hand-paper"></i> -->
                <h2 class="tip__tittle">Elegí cómo pagar</h2>
                <p class="tip__txt">Podés pagar con tarjeta, débito o hasta 12 cuotas con dCompras Cash !! </p>
                <a href="" class="btn-shop">COMPRAR</a>
            </div>
            <div class="tip">
                <i class="fas fa-shipping-fast"></i>
                <!-- <i class="fas fa-rocket"></i> -->
                <h2 class="tip__tittle">Envíos Gratis desde $8.900</h2>
                <p class="tip__txt">Solo por estar registrado en dCompras, tenés envíos gratis en un centenar de productos.</p>
                <a href="" class="btn-shop">COMPRAR</a>
            </div>
            <div class="tip">
                <i class="fas fa-shield-alt"></i>
                <!-- <i class="fas fa-cog"></i> -->
                <h2 class="tip__tittle">Seguridad</h2>
                <p class="tip__txt">Envíos garantizados, sino te gusta ... Devolvelo !!.</p>
                <a href="" class="btn-shop">COMPRAR</a>
            </div>
        </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>