<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <h2>PRODUCTS</h2>    
    <!-- <section class="last-visit">
       
        <div class="products">
            <% for (let i =0; i< products.length; i++){ %> 
                <article>
            <img src= <%= products[i].img1 %> alt="Cafetera" class="product_img"> 
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price"> <%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %></p>
                        <h4 class="name"> <%= products[i].name %></h4>
                    </div>
                </article>                              

                <%} %>       
        </div>
    </section> --> 
    <main class="main">
        <div class="container">
            <h2 class="main-title">Artículos </h2>
            <section class="container-products">
                <!-- .product*4>img.producto__img+product__description>h3.product__title+span.product__price  -->
            <div class="product">
                <a href="/products/1" target="_blank" rel="noopener noreferrer">    <!-- LINKEAR CORRECTAMENTE CON EJS.  -->
                <img src="images/demo-product-4.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Adidas Runner 2015</h3>
                    <span class="product__price">$16.500</span>
                </a>    
                </div>
                <a href="/products/productCart" target="_blank" rel="noopener noreferrer">
                    <i class="product__icon fas fa-cart-plus"></i>
                </a>               
            </div>
            <div class="product">
                <a href="/products/2" target="_blank" rel="noopener noreferrer">
                <img src="images/demo-product-4.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Adidas Runner 2011</h3>
                    <span class="product__price">$18.000</span>
                </a>    
                </div>
                <a href="/products/productCart" target="_blank" rel="noopener noreferrer">
                <i class="product__icon fas fa-cart-plus"></i>
                </a>
            </div>
            <div class="product">
                <a href="/products/3" target="_blank" rel="noopener noreferrer">
                <img src="images/demo-product-4.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Adidas Runner 2020</h3>
                    <span class="product__price">$19.500</span>
                </a>
                </div>
                <a href="/products/productCart" target="_blank" rel="noopener noreferrer">
                <i class="product__icon fas fa-cart-plus"></i>
                </a>
            </div>
            <div class="product">
                <a href="/products/4" target="_blank" rel="noopener noreferrer">
                <img src="images/demo-product-4.jpg" alt="" class="product__img">
                <div class="product__description">
                    <h3 class="product__title">Adidas Runner 2018</h3>
                    <span class="product__price">$18.670</span>
                </a>   
                </div>
                <a href="/products/productCart" target="_blank" rel="noopener noreferrer">
                <i class="product__icon fas fa-cart-plus"></i>
                </a>
            </div>            
        </section>
</body>
</html>