<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <h2 class="main-nav">Todos los productos</h2>
        <main class="main">
            <div class="container">                
                <!-- <h2 class="main-title">Artículos </h2> -->
                    <section class="container-products">
                        <!-- .product*4>img.producto__img+product__description>h3.product__title+span.product__price  -->
                          
                        <div class="product">
                            <% for (let i =0; i< productos.length; i++){ %>
                            <a href="/products/<%= productos[i].id %>" rel="noopener noreferrer">    <!-- LINKEAR CORRECTAMENTE CON EJS.  -->
                                <article>
                                     <!-- <img src="/images/users/<%= productos[i].img1 %>" alt="Zapatillas" > -->
                                     <img src="/images/<%= productos[i].img1 %>" alt="Zapatillas" >
                                        <div class="main-article">
                                            <i class="fas fa-truck"></i>
                                            <p class="price">$<%= productos[i].price %></p>
                                            <p class="discount"><%= productos[i].discount %></p>
                                            <h4 class="name"> <%= productos[i].name %></h4>
                                        </div>
                                    </article>  
                                </a>
                            <a href="/productCart" rel="noopener noreferrer">
                            <i class="product__icon fas fa-cart-plus"></i>
                            </a>
                            <% } %>                                
                        </div>                               
                    </section>
            </div>
        </main>
        <%- include('./partials/footer') %>                
    </body>
</html>
