<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="/images/logo-dCompras-01.svg" alt="Logo dCompras"></a>   
                  <!-- <h2 class="main-title">Edición de usuario</h2>       -->
                </div>
            </div>            
        </div> 
    </header>
    <div class="container">
        <div class="login-container">
            <div class="register-1">  
                    <form action="<%= userToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">                                  
                        <input type="text" placeholder="Nombre" name="first_name" value="<%= userToEdit.first_name %>"  > 
                        <input type="text" placeholder="Apellido" name="last_name" value="<%= userToEdit.last_name %>"  > 
                        <input type="mail" placeholder="Email" name="email" value="<%= userToEdit.email %>"  > 
                        <input type="password" placeholder="Contraseña" name="password"> 
                        <!-- <input type="password" placeholder="Repetir Contraseña" name="repassword"> -->
                        <input type="file" placeholder="Imagen" name="image" value="<%= userToEdit.image %>"> 
                        <button type="submit" class="submit">  Modificar  </button> 
                    </form>
            </div>    
        </div>         
    </div>
</body>
</html>