<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="/images/logo-dCompras-01.svg" alt="Logo dCompras"></a>       
                </div>                               
            </div>            
        </div> 
    </header>
    <div class="banner-psc">
        <img src="/images/carrusel3.jfif" alt="Banner">
    </div> 
 <main>
    <h1>USUARIO: <%= user.email %> </h1>    
    <br>
    <p>NOMBRE: <%= user.first_name %> </p>
    <p>APELLIDO: <%= user.last_name %> </p>
    <p>MAIL: <%= user.email %> </p>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <!-- Ir a index.ejs y copiar botones y estilo para -> ADD -->
        <a class="botonAgregar" href="/usrs/create">Agregar Usuario</a>
        <a class="botonVolver" href="/usrs">Listado de Usuarios</a>
        <a class="botonModificar" href="/usrs/edit/<%= user.id %>">Modificar Usuario</a>        
    </section>           
    </main>
    <%- include('./partials/footer') %>
    </body>
</html>