<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %> 
    <h2 class="main-nav">Usuarios MySQL</h2>
        <main class="main">
            <div class="container">                
                <!-- <h2 class="main-title">Artículos </h2> -->
                    <section class="container-products">
                        <!-- .product*4>img.producto__img+product__description>h3.product__title+span.product__price  -->
                        <!-- <div class="product"> -->
                        <div>    
                            <% for (let i = 0; i < users.length; i++) { %>
                            <a href="/usrs/<%= users[i].id %>" rel="noopener noreferrer" style="text-decoration: none;">   
                                <article>
                                     <!-- <img src="/images/users/<%= users[i].image %>" alt="Usuario" > -->
                                       <div class="main-article">
                                            <!-- <i class="fas fa-truck"></i> -->
                                            <%= users[i].first_name %>
                                            <%= users[i].last_name %>
                                            <span>
                                               <strong><%= users[i].email %></strong> 
                                            </span>
                                        </div>
                                </article>                                                            
                            </a>
                            <% } %>                                
                        </div>                               
                    </section>
            </div>
        </main>
        <%- include('./partials/footer') %>                
    </body>
</html>
