<header>      


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
    <!-- <div class="container">     -->
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
          <img
            src="/images/logo-dCompras-01.svg"
            src="/logo-dCompras-01.svg" 
            height="65"
            alt="dCompras Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <!-- Left links -->        

        <form action="/products/search" class="d-flex input-group w-auto" method="GET">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              name="name"
              id="name"
            />          
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </form> 
      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->   
  
        <!-- Notifications -->
        
        <!-- Avatar -->
        
        </div> 
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>  

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <!-- <div class="container-fluid"> -->
    <div class="container">    
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/sale">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/create">Crear producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Ayuda</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        
        <!-- Left links -->
        
        <!-- Left links -->

      </div>
      <!-- Collapsible wrapper -->
  
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="/products/cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
  
        <!-- Notifications -->
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill badge-notification bg-danger">1</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Notificaciones</a>
            </li>
            <!-- <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li> -->
          </ul>
        </div>
        <!-- Avatar -->
        <div class="dropdown">

            <% if (locals.isLogged) { %>

                <!-- Opciona Playground -->
                <!-- <li>
                    <ul>
                        <li>

                        </li>
                        <a href="#" id="dropUser" role="button" style="text-decoration: none">  
                            <img src="/images/users/<%= locals.userLogged.image %>"  width="40" style="border-radius: 100%;">
                               Hola   <%= locals.userLogged.firstName %>    
                        </a>
                        <hr> -->
                        <!-- <a href="/usersSQL/<%= locals.userLogged.id %>" style="text-decoration: none;">  Perfil  |  </a> -->
                        <!-- <a href="/usrs/<%= locals.userLogged.id %>" style="text-decoration: none;">  Perfil  |  </a> -->
                        <!-- <hr> -->
                        <!-- <a href="/usersSQL/logout" style="text-decoration: none;">Salir   </a> -->
                        <!-- <a href="/usrs/logout" style="text-decoration: none;">Salir   </a> -->
                    <!-- </ul>
                </li>                 -->
                <!-- Termina Opcion Playground -->

                <!-- Opcion Bootstrap -->
                

          <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="/images/users/<%= locals.userLogged.image %>"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
                      <%= locals.userLogged.first_name %>  
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="/usrs/<%= locals.userLogged.id %>">Perfil</a>
          </li> 
          <li>
            <a class="dropdown-item" href="/usrs/logout">Logout</a>
          </li>           
        </ul>
        <!-- Termina Opcions Bootstrap -->
        <% } else { %> 

        </div>
            <div class="d-flex align-items-center">
                <!-- <button type="button" class="btn btn-link px-3 me-2">
                Iniciar Sesión
                </button>                  -->
                <!-- <a href="/users/login" target="_blank" class="btn btn-link px-3 me-2"> Iniciar Sesión</a>   -->
                <a href="/usrs/login" target="_blank" class="btn btn-link px-3 me-2"> Iniciar Sesión</a>            
                <!-- <button type="button" class="btn btn-primary me-3">
                Registrars
                </button> -->
                <!-- <a href="/users/register" target="_blank" class="btn btn-primary me-3">Registrarse</a>  -->
                <a href="/usrs/create" target="_blank" class="btn btn-primary me-3">Registrarse</a> 
                <!-- <a
                class="btn btn-dark px-3"
                href="https://github.com/mdbootstrap/mdb-ui-kit"
                role="button"
                ><i class="fab fa-github"></i>
                </a> -->
            </div> 
        </div> 
        <% } %>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>

  <!-- NavBar -> Search -->
  <!-- Navbar -->
  <!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </nav> --> 
  
</header>