<header>        
    <div class="main-header">
        <div class="container container-flex">
            <!-- class -> se puede repetir se usasn en CSS / ID -> son unicos, se usan en JS -->
            <div class="main-header__container"> 
                <img class="main-header__img" src="images/logo-dCompras-01.svg" alt="Logo dCompras">       
                <!-- <h1 class="main-header__title">dCompras</h1>  -->
                <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>                
            </div>             
            <div class="main-header__container">
                <!-- <a href="/help" target="_blank"><span class="main-header__txt">Ayuda</span></a> -->
                <p class="main-header__txt"> <i class="fas fa-phone"></i>  Tel +54 011-123456</p>                
            </div>  
            <div class="main-header__container">
                <a href="/users/login" target="_blank" class="main-header__link__txt"> Inicia Sesión  | Registrarse</a> 
                <a href="/users/login" target="_blank" class="main-header__link"><i class="fas fa-user"></i></a> 
                <a href="/products/cart" class="main-header__btn">Mis Compras  | <i class="fas fa-shopping-cart"></i></a>
                <!-- <input type="search" class="main-header__input" placeholder="Buscar producto...">                 -->
            </div>
        </div>
        <nav class="main-nav" id="main-nav">
            <!-- atajo EMET -> ul.menu>li.menu__item*5>a.menu__link -->
            <ul class="menu">
                <li class="menu__item"><a href="/products" class="menu__link">Todos los productos</a></li>
                <li class="menu__item"><a href="/products/sale" class="menu__link">Ofertas</a></li>
                <li class="menu__item"><a href="/products/create" class="menu__link">Crear producto</a></li>
                <li class="menu__item"><a href="/help" class="menu__link">Ayuda</a></li>
                <!-- <% if (locals.isLogged) { %>
					<li>
						<a href="#" id="dropUser" role="button">
							<img src="/images/users/<%= locals.userLogged.image %>" width="40" style="border-radius: 100%;">
							Hi <%= locals.userLogged.firstName %> 
						</a>
						<ul>
							<a href="/usersSQL/<%= locals.userLogged.id %>">Perfil</a>
							<li><hr></li>
							<a href="/users/logout">Salir</a>
						</ul>
					</li>				
				<% } %>  -->
                <% if (locals.isLogged) { %>
					<li>
                        <ul>
                            <li>

                            </li>
                            <a href="#" id="dropUser" role="button" style="text-decoration: none">  
                                <img src="/images/users/<%= locals.userLogged.image %>"  width="40" style="border-radius: 100%;">
                                   Hola   <%= locals.userLogged.firstName %>    
                            </a>
                            <hr>
                            <a href="/usersSQL/<%= locals.userLogged.id %>" style="text-decoration: none;">  Perfil  |  </a>
                            <!-- <hr> -->
                            <a href="/usersSQL/logout" style="text-decoration: none;">Salir   </a>
                        </ul>
					</li>				
				<% } %>               
            </ul>
        </nav>
    </div>
</header>