<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Register</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link rel="stylesheet" href="/css/createForm.css">
</head>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="/images/logo-dCompras-01.svg" alt="Logo dCompras"></a>   
                  <h1>Modificar prodcuto</h1>      
                </div>
            </div>            
        </div> 
    </header>
    <div class="container">
        <div class="login-container">
            <div class="register-1">
                    <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST">
                        <input type="text" placeholder="Nombre del producto" name="name" required value="<%= productToEdit.name %>"  > 
                        <input type="text" placeholder="Descripción" name="description" required value="<%= productToEdit.description %>" >
                        <input type="image" placeholder="" name="img1"  value="<%= productToEdit.img1 %>" >
                        <input type="text" placeholder="Categoria" name="category" value="<%= productToEdit.category %>" >                        
                    <!-- </form>
            </div>            
             <div class="register-2">
                    <form action=""> -->
                    <input type="text" placeholder="Precio" name="price" value="<%= productToEdit.price %>" > 
                    <input type="text" placeholder="Color" name="color" value="<%= productToEdit.color %>" >
                    <input type="text" placeholder="Talle" name="size" value="<%= productToEdit.size %>" >
                    <input type="text" placeholder="Genero" name="gender" value="<%= productToEdit.gender %>" >
                    <!-- <input type="submit" class="submit" value="MODIFICAR"> -->
                    <button type="submit" class="submit">MODIFICAR</button>
                    </form>
                </div>           
        </div>
    </div>
</body>
</html>