<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Register</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet">
    <link rel="stylesheet" href="/css/createForm.css">
</head>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                  <a href="/"><img class="main-header__img" src="/images/logo-dCompras-01.svg" alt="Logo dCompras"></a>   
                  <h1>FORMULARIO DE MODIFICACION DE PRODUCTOS</h1>      
                </div>
            </div>            
        </div> 
    </header>
    <div class="container">
        <div class="login-container">
            <% if (producto != undefined) { %>
            <div class="register-1">
                    <form action="" method="POST">
                        <input type="text" placeholder="Nombre del producto" name="nombre" required value="<%= producto.name %>"  > 
                        <input type="text" placeholder="Descripción" name="Descripcion" required value="<%= producto.description %>" >
                        <input type="image" placeholder="" name="Imagen"  value="<%= producto.img1 %>" >
                        <input type="text" placeholder="Categoria" name="repass" value="<%= producto.category %>" >                        
                    </form>
            </div>            
             <div class="register-2">
                    <form action="">
                    <input type="text" placeholder="Precio" name="Precio" value="<%= producto.price %>" > 
                    <input type="text" placeholder="Color" name="Color" value="<%= producto.color %>" >
                    <input type="text" placeholder="Talle" name="Talle" value="<%= producto.size %>" >
                    <input type="text" placeholder="Genero" name="Genero" value="<%= producto.gender %>" >                                      
                    <input type="date" placeholder="" name="Createdate">                    
                    <input type="submit" class="submit" value="MODIFICAR">
                    </form>
                </div>
            <% } else { %>
                <h2>No existe ese producto</h2>
             <% } %>    
        </div>
    </div>
</body>
</html>