<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header>     
        <div class="main-header">
            <div class="container-flex">
                <div class="main-header__container"> 
                    <a href="/"><img class="main-header__img" src="/images/logo-dCompras-01.svg" alt="Logo dCompras"></a>   
                 
                  </div>                           
            </div>            
        </div> 
    </header>
    <div class="container">
        <div class="login-container">
            <div class="register-1">
                <h2>Registro de usuarios - JSON</h2>
                    <form action="/users/register" method="POST" enctype="multipart/form-data">
						<input 
                            type="text"
                            placeholder="Nombre"
                            class="nombre"
                            name="firstName"
                            value="<%= locals.oldData ? oldData.firstName : null %>"
                            required
                            <% if (locals.errors && errors.firstName) { %>
                                <!-- <div> -->
                                    <%= errors.firstName.msg %> 
                                <!-- </div> -->
                            <% } %>    
                        >                        
                        <input 
                            type="text" 
                            placeholder="Apellido"                            
                            class="user"    
                            name="lastName"                       
                            <% if (locals.errors && errors.lastName) { %>
                                <div>
                                    <%= errors.lastName.msg %> 
                                </div>
                            <% } %>                         
                        >
                        <input
                            type="email" 
                            placeholder="Correo (*)" 
                            class="user" 
                            name="email"
                            <% if (locals.errors && errors.email) { %>
                                <!-- <div> -->
                                    <%= errors.email.msg %> 
                                <!-- </div> -->
                            <% } %>             
                            <!-- required -->
                                                                     
                        <!-- <input type="password" placeholder="Contraseña (*)" class="pass" required pattern="[A-Z]{3}[0-9]{4}"
                        title="El formato debe coincidir con 3 letras mayúsculas, 4 números." name="password"> -->
                        <input 
                            type="password" 
                            placeholder="Contraseña (*)" 
                            class="pass" 
                            name="password"
                            <% if (locals.errors && errors.password) { %>
                                <!-- <div> -->
                                    <%= errors.password.msg %> 
                                <!-- </div> -->
                            <% } %> 
                        >   
                        <input 
                            type="password" 
                            placeholder="Repetir contraseña (*)" 
                            class="pass" 
                            name="repassword"
                            <% if (locals.errors && errors.repassword) { %>
                                <!-- <div> -->
                                    <%= errors.repassword.msg %> 
                                <!-- </div> -->
                            <% } %> 
                        >                                            
                         
                        <!-- <input type="text" placeholder="Categoría" class="direccion" name="user">  -->
                        <input type="file" placeholder="Imagen" name="image" >
                        <!-- <input type="date" placeholder="Fecha de Nacimiento" class="birthday"> -->
                        <!-- <input type="text" placeholder="Dirección" class="ciudad" name="streetName"> -->
                        <!-- <input type="text" placeholder="Numéro" name="streetNumber"> -->
                        <!-- <input type="text" placeholder="Piso" class="ciudad" name="floor"> -->
                        <!-- <input type="text" placeholder="Depto." class="provincia" name="apartment">   -->
                        <!-- <input type="text" placeholder="Ciudad" class="provincia" name="city"> -->
                        <!-- <input type="text" placeholder="Estado" class="provincia" name="state"> -->
                        <!-- <input type="text" placeholder="Codigo Postal" class="provincia" name="zipCode">                                  -->
                        <input type="submit" class="submit" value="REGISTRARSE">                       
                    </form>
            </div>            
            <!-- <div class="register-2"> -->
                <!-- <h2>Iniciar Sesión</h2> -->
                <!-- <h3>Acceder con ...</h3> -->
                <!-- <form action="">                     -->
                    <!-- <input type="text" placeholder="Dirección" class="ciudad" name="streetName">
                    <input type="text" placeholder="Numéro" name="streetNumber">
                    <input type="text" placeholder="Piso" class="ciudad" name="floor">
                    <input type="text" placeholder="Depto." class="provincia" name="apartment">  
                    <input type="text" placeholder="Ciudad" class="provincia" name="city">
                    <input type="text" placeholder="Estado" class="provincia" name="state">
                    <input type="text" placeholder="Codigo Postal" class="provincia" name="zipCode">                                 
                    <input type="submit" class="submit" value="REGISTRARSE">
                    <input type="file" placeholder="Subir archivo" class="file"> -->
                <!-- </form>
            </div>     -->
        </div>         
    </div>
</body>
</html>